
html {height: 100vh;}
* {
  box-sizing: border-box;
  margin: 0; padding: 0; outline: none;  -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; 
}

/* Add a gray background color with some padding */
body {
  width: 100%;
  font-family: Arial;
  position: fixed;
  display: block;
  padding: 5px;
  background: #e4e4e4;
  padding-bottom: 15px;
  height: 100vh;
}

.main {
  width: 100%;
  max-width: 1000px;
  height: 100%;
  padding: 10px 10px;

  margin: 0px auto;
}

.row {
  display: flex;
}

/* Header/Blog Title */
.header {
  font-size: 20px;
  text-align: center;
  background: white;
  border-radius: 5px;
  padding: 5px 10px;
}
.header .logo { 
  width: 165px; 
  min-width: 165px; 
  padding: 0px 0px 0px 5px; 
  display: flex; 
  flex-direction: row; 
  justify-content: start; 
  align-items: end;  
  padding: 10px; 
}

.header .logo span {
  font-size: 30px; 
  font-weight: 700; 
  &:nth-of-type(1) {
    padding: 5px 4px 5px 10px; 
    border-radius: 0px 16px 0px 10px; 
     color: #ffffff;  
     background-color: #ff4242; 
    } 
  &:nth-of-type(2) {
    text-align: left; 
    color: #ff0000; 
    padding: 6px 10px 4px 4px; 
    border-radius: 16px 0px 10px 0px;
     background-color: #dfdfdf; 
    }
 }

.columntwo { 
    width: 100%;
    padding: 0px 0px;
  }

button {
  background-color: #0099ff;
  color: white;
  padding: 15px 20px;
  border-radius: 5px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

button:hover {
  opacity: 0.8;
}

/* Add a card effect for articles */
.card {
   background-color: white;
   padding: 20px;
   margin-top: 10px;
   margin-bottom: 10px;
   border-radius: 5px;
}

.card.two { 
  width: 80%;
  margin: 0px auto;
}
/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .columnTwo {   
    width: 100%;
    margin-left: 0px;
  }
}

/*FORM*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #000000; /* Fallback color */
  background-color: #00000066; /* Black w/ opacity */
}
.modal form {
  width: 80%;
  min-width: 340px;
  max-width: 800px;
  margin: 0px auto;
  padding: 10px;
  background-color: #a0a0a066;
}

/* Add padding to containers */
.container {
  padding: 16px;
  background-color: #ffffff;
  border: 1px solid #888;
}
.header001 {
  position: relative;
}

.fmclose {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.fmclose:hover,
.fmclose:focus {
  color: red;
  cursor: pointer;
}
.photo { 
  width: 180px; 
  height: 180px; 
  margin: 0px auto; 
  margin-top: 30px; 
  border-radius: 10px;
  position: relative; 
  cursor: pointer; 
  display: flex; 
  flex-direction: column;  
  justify-content: center; 
  align-items: center; 
}
.photo {  
  background-size: cover; 
  background-repeat: no-repeat;
  background: #f1f1f1;
}
.photo input { 
  width: 0px; 
  height: 0px; 
  border: none; 
  opacity: 0; 
}
.usericon { 
  width: 50%; height: 50%; 
  position: relative; display: 
  flex; flex-direction: column;  
  justify-content: center; align-items: center;  
}
.usericon i { 
   font-size: 70px; color: #cccccc;
}
.photo:hover {
  background-color: #ddd;
  .usericon i { 
    font-size: 60px; color: #ffffff;
 }
 } 

.usericon.shown, .usericon.upl  { 
  display: none;
}

.tabs {
  width: 80%;
  max-width: 450px;
  margin: 0px auto;
}

.tab {
    display: block;
    min-width: 280px;
}

.lbl01 {
    display: block;
    padding: 1px 5px;
    margin-bottom: 5px;
    min-width: 280px;
}
.lbl01 b {
  font-size: 11px;
}
.fmp {
  padding: 10px 5px;
  padding-top: 20px; 
  font-size: 17px;
  font-weight: 600;
}
/* Full-width input fields */
.lbl01 input {
    width: 100%;
    padding: 12px;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}
.chxbox input[type=text] {
    width: 0px;
    height: 0px;
    padding: 0px;
    opacity: 0;
}
.chxbox input[type=checkbox] {
  width: 15px;
  height: 15px;
}
.chxbox label {
  display: flex;
  column-gap: 10px;
  font-size: 14px;
  margin-bottom: 5px;
  margin-left: 10%;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.regsubmit {
  width: 90%;
  max-width: 450px;
  min-width: 340px;
  display: block;
  padding: 10px 10%;
  margin: 0px auto;
}

/* Set a style for the submit button */
.register {
  background-color: #0099ff;
  color: white;
  min-width: 260px;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  opacity: 0.9;
}

.register:hover {
  opacity: 1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}
