html {height: 100vh;}
* {margin: 0; padding: 0; outline: none; overflow: hidden; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body { width: 100%; height: 100%; min-width:340px; display: block; -webkit-text-size-adjust: 100%; -webkit-font-smoothing: antialiased; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

/*PAGES CSS*/
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

/*---Remove Arrows From Inputs ---*/

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.pages {.page {display: none;} .shown {display: flex; }}
.mainpage {.db {display: none;} .shown {display: flex;}}
.actionpages {.acts {display: none;} .shown {display: block;}}
.entryforms {.entry {display: none;} .new, .edit {display: flex;}}


.main { width: 100%;height: 100%;  display: flex; flex-direction: column; justify-content: start; align-items: center; }
.pages { width: 100%; height:100%; min-width:340px; max-width: 90%; position: relative; display: flex; flex-direction: column; justify-content: start;  align-items: center; box-shadow: #32325d40 0px 2px 5px -1px, #0000004d 0px 1px 3px -1px; background-color: #f1f1f1; }

.mainheader { width: 100%; min-width:300px; height: 80px; z-index: 5000; position: absolute;  display: flex; flex-direction: row; justify-content:space-between; align-items: end; background-color: #0065fc; }
.cfm_header .logo { width: 165px; min-width: 165px; padding: 0px 0px 0px 5px; display: flex; flex-direction: row; justify-content: start; align-items: end;  padding: 10px; }
.cfm_header .logo span {font-size: 24px; font-weight: 700;  &:nth-of-type(1) {padding: 5px 4px 5px 10px; border-radius: 0px 16px 0px 10px; color: #ffffff; background-color: #ff4242; } &:nth-of-type(2) {text-align: left; color: #ff0000; padding: 6px 10px 4px 4px; border-radius: 16px 0px 10px 0px; background-color: #ffffffad; } }





.entryforms { width: 100%; height:100%; min-width:340px; z-index: 100;  position: absolute; display: flex; flex-direction: column; justify-content: start; align-items: center; background-color: #88888880;}
.clientform { width: 100%; min-width: 340px; height: 100%; padding: 5px; position: relative; display: flex; flex-direction: column; justify-content: start; align-items: center; }

.cfm_header { width: 100%; max-width: 620px; padding: 5px 3px 5px 10px; text-align:end; display: flex; justify-content: space-between;  align-items: center; border: 1px solid #2986ff; background-color: #007cf8;  p {color: #ffffff; text-align: start; font-size: 16px;  font-weight: 600; } }
.cfm_header button { width: 28px; height: 28px; border-radius: 100%; font-size: 18px; border: none;  color: #ffffff; background-color: #ffffff55; &:hover { transform: scale(110%); color: #ff7e7e; background-color: #ffffffc3; } }

.cfm_container { width: 100%; min-width: 340px; height: 100%; overflow-y: auto; display: flex; flex-direction: row; justify-content: center; align-items: start; }
.cfm_panel { width: 100%; min-width: 340px; max-width: 620px; height: auto; padding: 5px; padding-bottom: 10px; gap: 2px; flex-wrap: wrap;  display: flex; flex-direction: row; justify-content: center; align-items: start;  background-color: #f1f1f1;}

.cfm_topper { width: 100%; min-width: 300px; padding: 10px 16% 15px 16%; gap: 5px; display: flex; flex-direction: column;  justify-content: start; align-items: start; background-color: #ffffffd7; }
.cfm_topper div { width: 100%; input { border: none; font-size: 15px; font-weight: 600; pointer-events: none; background-color: transparent;} }

.cfm_image { width: 100%; min-width: 250px; max-width: 250px; height: auto;  padding: 10px 10px; display: flex; flex-direction: column; justify-content: start; align-items: center; }
.passphoto { width: 200px; height: 200px; border-radius: 10%; position: relative; cursor: pointer; display: flex; flex-direction: column; justify-content: center; align-items: center; background-color: #ffffff; }
.passphoto div {height: 50px; width: 200px; } .passphoto input { width: 0; height: 0; border: none; opacity: 0; }

.passphoto img { width: 100%; height: auto; border-radius: 10%; position: absolute; }
.passEmpty {width: 100%; height: 100%; position: absolute; color: #d5d5d5; display: flex; flex-direction: column; justify-content: center; align-items: center; i { font-size: 150px; color: #d5d5d5;}}
.passValid {width: 100%; height: 100%; position: absolute; color: #d5d5d5; padding-bottom: 20px; display: flex; flex-direction: column; justify-content: end; align-items: center; display: none; i { position: absolute; right: 5px; top: 5px; font-size: 20px; color: #00e09d; display: none;} }
.passphoto:has(img:not([src=""])) { .passEmpty {display: none;} .passValid {display: flex;} }
.passphoto:hover { .passEmpty { color: #006eff74; i {color: #006eff3d;} }  .passValid { color: #006eff80; } }
.passphoto:has(input.uploaded) { .passValid { i {display: flex;} }}

.cfm_names { width: 100%; min-width: 250px;max-width: 250px; height: 100%; min-height: 250px; gap: 10px; display: flex; flex-direction: column; justify-content: center; align-items: center; }
.cfm_form { width: 100%; min-width: 300px; height: auto; row-gap: 20px; padding: 5px; column-gap: 10px; flex-wrap: wrap; display: inline-flex; flex-direction: row; justify-content: center; align-items: start; background-color: #f1f1f1;}

.cfm_label { width: 100%; min-width: 250px; max-width: 250px; height: 50px; position: relative; border-radius: 0px; display: flex; flex-direction: row; justify-content: start; align-items: center; background-color: #ffffff;  &:hover { background-color: #ffffffe4; } }
.cfm_label input { width: 100%; height: 100%;  padding-left: 34px; padding-top: 10px; border: none; }
.cfm_label i:first-of-type { font-size: 15px; left: 7px; position: absolute; color: #8b8b8b; }
.cfm_label i:last-of-type { font-size: 15px; right: 10px; position: absolute; color: #2ccbbe; display: none; }
.cfm_label.gender { padding-left: 20px; font-size: 14px;  label { width: 100%; }  }
.nptname { display: flex; input { height: 0px; opacity: 0; }  }
.marital { font-size: 14px; height: 60px; padding-bottom: 5px; display: block; .nptname {padding: 5px 0px 4px 5px;} .radio {align-self: self-end;} div { display: flex;}}

.placeholda { left: 30px; font-size: 14px; color: #00000080; position: absolute; pointer-events: none; transform-origin: 0 0; transform: translate3d(0, 0, 0); transition: all 0.2s ease; }
.focusline { bottom: 0px; left: 0px;  width: 100%; background-color: #006eff; transform-origin: left; position: absolute; transform: scaleX(0); transition: all 0.4s ease; border-bottom: 1px solid #006eff; }
.cfm_label:has(input:not(:focus)) { &:not(:hover){ input:not(:placeholder-shown){ ~ i:last-of-type { display: flex;} }}}
.cfm_label input.invalid:not(:focus) { ~ .placeholda { color: #006eff;} ~ .focusline {border-bottom: 1px solid #006eff; transform: scaleX(1);} }
.cfm_label input:hover {border-bottom: 1px solid #006eff; background-color: #edf0f54e;}
.cfm_label input:hover + .placeholda {color: #006eff; }   

.cfm_label input:focus { border-bottom: 0px;}
.cfm_label input:focus + .placeholda { color: #006eff; transform: translate3d(0, -15px, 0) scale(0.80);}
.cfm_label input:focus + .placeholda + .focusline {transform: scaleX(1);}

.cfm_label input:not(:-moz-placeholder-shown) + .placeholda { transform: translate3d(0, -15px, 0) scale(0.80);}
.cfm_label input:not(:placeholder-shown) + .placeholda { transform: translate3d(0, -15px, 0) scale(0.80);}
.cfm_label input.null:not(:-moz-placeholder-shown) + .placeholda { transform: translate3d(0, -15px, 0) scale(0.80);}

.clearpaneel {width: 100%; min-width: 250px; max-width: 340px; padding: 20px 10px 10px 10px; text-align: start; button#btncleardetails {width: 80px; height: 35px; border: none; border-radius: 3px; box-shadow: #00000041 0px 0px 2px 0px;  color: #474747; background-color: #ffffff4b; &:hover {font-size: 14px; color: #ff0000; background-color: #ff000014;}} }
.cfm_footer { width: 100%; min-width: 250px; padding: 10px 16% 15px 16%; border-radius: 0px 0px 0px 0px; display: flex; justify-content: end; align-items: end; border-top: 1px solid #0065fc; background-color: #ffffffd7; }
.cfm_footer button#btnsaveclient { width: 120px; height: 40px; border-radius: 3px; font-size: 15px; font-weight: 600; border: none; cursor: pointer; color: #ffffff; background-color: #007bff; &:hover {background-color: #008df9; color: #ffffff; font-weight: 600; }}







.loanform { width: 100%; height: 100%; padding: 75px 5px 10px 5px; background-color: #ffffff00;}
.loanform .container { width: 100%; height: 100%;  padding: 5px; padding-bottom: 10px; overflow-y: auto;  background-color: #ffffff00;}
.loanform .container {form {width: 100%; min-width: 300px; max-width: 500px; height: auto; margin: auto; display: flex; flex-direction: column; justify-content: start; align-items: center; box-shadow: 0px 0px 08px 2px #0000003b; background-color: #fbfbfb;} }

.fm_header{ width: 100%; max-width: 500px; padding: 8px 5px; padding-left: 10px; margin-bottom: 5px; border-radius: 0px 0px 0px 0px; font-size: 14px; display: flex;  justify-content: space-between; align-items: center; background-color: #0065fc;}
.fm_header span {font-size: 18px; font-weight: 600; text-align: start; color: #ffffff; }
.fm_header p { width: 26px; height: 26px; cursor: pointer; display: flex; flex-direction: column; justify-content: center; align-items: center; border-radius: 100%; background-color: #ffffff; i {font-size: 18px; color: #a8a8a8;} &:hover {box-shadow: #00000041 0px 0px 2px 0px;  i {color: #f50606b3;}} }
.fm_header input {width: 30px; border: none; background-color: #f1f1f1;}  /*padding: 86px 10px 10px 10px; */

.inputgrup {width: 100%; min-width: 250px; max-width: 340px; height: auto; overflow: visible; position: relative; padding: 3px 5px;  margin-top: 5px; position: relative; display: flex; flex-direction: column; justify-content: start; align-items: center;}
.nputname{ width: 100%; height: 25px; font-size: 14px; line-height: 25px; padding: 0px 0px 3px 3px; color: #3b3b3b; }
.nputname input { width: 50px; height: 15px; font-size: 10px; border: none;  opacity: 0;}

.loanform .inputs{ width: 100%; min-width: 250px; max-width: 340px; height: 50px; padding: 2px; border-radius: 0px; box-shadow: #0000001a 0px 0px 5px 0px, #0000001a 0px 0px 1px 0px; background-color: #ffffff; &:hover { border: 1px solid #006eff;  background-color: #fbfbfb;} }
.inputs input {width: 100%; height: 100%; padding-left: 16px; font-size: 17px; border: none; color: #000000; background-color: transparent; } 
.inputs:has(:not(input)) {padding-left: 14px;}

.optionlist { top: 96%; width: 95%; min-width: 250px; max-width: 340px; z-index: 5; padding: 10px 0px; position: absolute; display: block;  box-shadow: #00000029 0px 10px 36px 0px, #0000000f 0px 0px 0px 1px; background-color: #ffffff;}
.inputgrup { .periods, .objectives, .garantas {display: none;}  .shown {display: block;} }
.paymentplan, .instalplans { height: auto; &:hover {border: none;} .radio {  height: 40px; border-bottom: 1px solid #e1e1e1;  padding-left: 35px;  &:last-of-type {border: none;}} }
.instalplans {  width: 80%; align-self: self-end; margin-top: 1px;  .nputname { display: flex; padding: 0px; height: 20px; line-height: 20px; font-size: 14px; color: #6e6e6e; }}
.inputs.instalplans {display: none;} .inputs.instalplans.shown {display: block;}

.radio{width: 100%;  height: 25px; line-height: 23px; padding: 3px 0px 3px 27px; color: #000000; display: inline-flex; align-items: center; position: relative;  cursor: pointer;  user-select: none;  -ms-user-select: none;  -moz-user-select: none; -webkit-user-select: none; &:hover { color: #0073ff;} } 
.radio input { width: 0px; height: 0px;  opacity: 01; outline: none; border: none; cursor: pointer; }
.weeks .radio {padding-inline-start:25px; font-size: 15px;}
.optionlist .radio {  height: 40px; border-bottom: 1px solid #e1e1e1;  padding-left: 35px;  &:last-of-type {border: none;} &:hover { color: #ffffff; background-color: #007bff; }}
.optionlist .checkmark { left: 10px;}

.checkmark { width: 17px; height: 17px; line-height: 17px; position: absolute; left: 3px; border-radius: 3px; border: 1px solid #a2a2a2; background-color: #ffffff; }
.radio:hover input ~ span {color: #007bff;}
.radio:hover input ~ .checkmark { border: 1px solid #007bff; background-color: #007bff05;}
.checkmark:after {content: "";  position: absolute; display: none;}
.radio .checkmark:after { width: 2px; height: 8px; left: 5px;top: 1px; border: solid white; border-width: 0 3px 3px 0;  -webkit-transform: rotate(45deg);  -ms-transform: rotate(45deg); transform: rotate(45deg);}
.radio input:checked ~ .checkmark {background-color: #007bff; border: 1px solid #007bff; }
.radio input:checked ~ .checkmark:after {display: block;}

.clearpaneel {width: 100%; min-width: 250px; max-width: 340px; padding: 20px 10px 10px 10px; text-align: start; button#btnClearloan {width: 80px; height: 35px; border: none; border-radius: 3px; box-shadow: #00000041 0px 0px 2px 0px;  color: #474747; background-color: #ffffff4b; &:hover {font-size: 14px; color: #ff0000; background-color: #ff000014;}} }
.ln_footer { width: 100%; min-width: 250px; padding: 10px 16% 15px 16%; border-radius: 0px 0px 0px 0px; display: flex; justify-content: end; align-items: end; border-top: 1px solid #0065fc; background-color: #005eff1d; }
.ln_footer button#btnSaveloan { width: 120px; height: 40px; border-radius: 3px; font-size: 15px; font-weight: 600; border: none; cursor: pointer; color: #ffffff; background-color: #007bff; &:hover {background-color: #008df9; color: #ffffff; font-weight: 600; }}

/*
@media screen and (max-width: 600px) { .loanform  { .fm_header, .ln_footer { width: 100%; }}}
*/




















/*

/*PAGES CSS*/
/*@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

html {height: 100vh;}

* {
  margin: 0;padding: 0;
  outline: none;overflow: hidden;
  box-sizing: border-box;
}
body {
  width: 100%;height: 100%;display: block;
  font-family: Roboto;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  font-family: 'Open Sans', sans-serif;
  }
.mainpage {width: 100%; height: 100%;display: block; background-color: #f5f5f5;}
.mainpage .allpages {display: block;}
.allpages {.page {display: none;} .shown {display: flex;}}

.signinpage {.sign {display: none;}.shown {display: block;}}
.homepage {.home {display: none;} .shown {display: flex;}}
.actionpage {.act {display: none;} .shown {display: block;}}

.homebody {.dash {display: none;} .shown {display: block;}}
.listings {.list {display: none;} .shown {display: block;}}
.entryforms {.form {display: none;} .new, .edit {display: block;}}


/*MAIN CSS*//*

.allpages { width: 100%;height: 100%;
  overflow: hidden;display: block; padding: 0px 5px;
}
/*********************************************//*
.xselct{
  -webkit-user-select: none; /* Safari *//*
  -ms-user-select: none; /* IE 10 and IE 11 *//*
  user-select: none; /* Standard syntax */
}/**********************************************//*
.header {
  width: 100%;height: 80px;z-index: 2000;
  display: inline-flex; min-width:320px;
  position: absolute;
  background-color: #007add;
  padding: 0px 0px 5px 0px;
}
.logo {
width:20%;
min-width: 165px;
padding: 0px 0px 0px 5px;
display: flex;
justify-content: start;
align-items: end;
margin-bottom: 15px;
}
.txt_city,.txt_coin {
font-size: 26px;
}
.txt_city {
  color: #ffffff;
  padding: 5px 3px 5px 10px;
  background-color: #ff4242;
  border-radius: 0px 16px 0px 10px;
}
.txt_coin {
  text-align: left;
  color: #ff0000;
  padding: 5px 10px 5px 3px;
  border-radius: 16px 0px 10px 0px;
  background-color: #ffffffad;
}
.headernav {
  width: 100%; column-gap: 3px;
  display: inline-flex; flex-direction: row;
  align-items: end; justify-items: end;
  justify-content: space-between;
}
.navbuttons {
  width: 100%;
  column-gap: 5px;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: start;
  padding: 5px 5px 0px 10px;
  p {
    width: 15%;
    min-width: 70px;
    text-align: center;
    font-size: 13px;
    margin: 0;
    font-weight: 600;
    padding: 2px 5px;
    color: #ffffff;
    background-color: #ffffff1e;
  }
}
.nav_menus {
  width: 100%;
  padding-right: 5px;
  .login_menu {display: flex; justify-content: end;}
  .mini_menu {display: none; justify-content: end}
  p {margin: 0;} i { color: #ffffff; font-size: 30px;}
}
.homepage {
  width: 100%; height:100%;
  min-width:320px; max-width: 95%;
  position: relative;
  flex-direction: row; justify-content: start; 
  align-items: start; margin: 0px  auto;
  background-color: #ecf0f3;
}
.homebody { width: 100%; height:100%; padding-top: 81px; z-index: 2000;}
.dashbody { border: 1px solid #e7e7e7;width: 100%; height:100%;display: block;
  background-color: #f4fafff6;
}
.leftmenu {
  width: 20%;
  height: 100%;
  min-width: 165px;
  z-index: 2000;
  padding-top: 81px;
  display: block; 
  position: relative;
}
.menubox {
  position: fixed;
  display: block; 
  width: 15.8%; height: 100%;
  row-gap: 15px;min-width: 165px;
  padding: 25px 18px;
  padding-bottom: 10px;
  background-color: #dde3e9;
  border-right: 1px solid #077ece;
}
.menu {
  width: 95%;
  padding: 0px;
  row-gap: 8px;
  min-width: 100px;
  display:flex;
  flex-direction: column;
}
.menu p {
  width: 100%;
  height: 33px;
  margin: 0px;
  font-size: 13px;
  font-weight: 500;
  column-gap: 15px;
  padding: 5px 3px;
  color: #2c2c2c;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  cursor: pointer;
  background: #ffffffe8;
  &:hover {
    color: #0077ff;
    background: #ffffffde;
    box-shadow: 1px 1px 2px 0px #58585841;
  }
}
.menu p i {
  padding: 3px;
  font-size: 22px;
  color: #0e7effce;
}
.service_menu {
  padding: 20px 0px;
}
.settings_menu {
  row-gap: 5px;
  padding-right: 20px;
  padding-left: 15px;
  p{
    height: 20px;
    padding-left: 3px;
    font-size: 12px;
    color: #464646;
    background: transparent;
    i {
      font-size: 16px;
      color: #0e7effce;
    }
    &:hover {
      color: #00a2ff;
      background: #ffffffde;
      box-shadow: 1px 1px 2px 0px #58585841;
    }
  }
}
.dashbord {
  width: 100%;
  padding-top: 2px;
  padding-left: 2px;
  height:inherit;
  display: flex; 
  flex-direction: column; 
  justify-content: start; 
  align-items: start;
  overflow-y: auto;
}
.dlink {
  position: relative; top: 0; left: 0;
}




.marriage {position: relative;}
.dashtop, .dashbottom  {
  width: 100%; height: 49%; display: flex;
  flex-direction: column; justify-content: start; align-items: center;
}
.dashtop  {column-gap: 1px; flex-direction: row;}
.dashbottom { row-gap: 1px;}
.sect { width: 100%;height: 100%; display: flex; background-color: #ffffff69;}

.list_tittle {
  width: 100%; height: 25px;
  margin: 0px auto; padding: 2px 5px;
  font-size: 12px; font-weight: 400;
  color: #00000091; background-color: #ffffff; 
  border-bottom: 1px solid #dfdfdf96;
  display: flex;flex-direction: row;justify-content: space-between;align-items: center;
}
.section_I { border-right: 1px solid #ffffff69;}

.listings {
  width: 100%;
  height: 100%;
  padding: 5px;
  padding-top: 3px;
  padding-bottom: 10px;
  display: flex;flex-direction: column; justify-content: start; align-items: center;
  /*background-color: #3b4957;
}
.list {
  width: 100%;
  height: 100%;
  background-color: #f2f5f8 ;
  row-gap: 1px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
.listings .list_tittle {
  height: 40px;
  background-color: #ffffff;
  padding: 0px 5px 0px 5px;
  border-bottom: 1px solid #dfdfdf00;
  display: flex;flex-direction: row; justify-content: space-between; align-items: center;
}
.listings .tittlename {
  width: 20%;
  height: 100%;
  min-width: 150px;
  column-gap: 20px;
  display: flex; justify-content: space-between; align-items: end;
}
.listings p#listName {
  margin: 0;
  font-size: 12px;
  color: #9b9b9b;
}
.listings #btnaddclient {
  margin: 0;
  outline: none;border: none;
  font-size: large;
  color: #7c7c7c; background-color: transparent;
  &:hover {transform: scale(120%); color: #3888ff;}
}
.listings #btncloselist {
  margin: 0;
  font-size: large;
  font-weight: 500;
  outline: none;border: none; padding: 0px;
  color: #ff1d1dd3; background-color: transparent;
  &:hover {transform: scale(120%); color: #ff0000; }
}
.entryforms {
  width: 100%;
  height: 100%;
  margin: auto;display: flex;
  flex-direction: column;
  justify-content: start; 
  align-items: start; position: relative;
  z-index: 4000;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.11);
}

.adminview {
  width: 100%;
  height: 100%;
  row-gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e7ffef;
}


.actionpage {
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 640px;
  display: grid;
  padding-top: 31px;
  padding-left: 16.0%;
  padding-right: 0.58%;
  background-color: #030303cb;
}

.clientview {
width: 100%;
height: 100%;
row-gap: 20px;
display: flex;
flex-direction: column;
justify-content: start;
align-items: center;
background-color: #ffffff;
a {
  width: 200px;
  height: 50px;
  color: #000000;
  text-align: center;
  line-height: 50px;
  font-size: 16px;
  text-decoration: none;
  background: #d3edff;
  font-weight: 400;
  border-radius: 5px;
  &:hover {
    font-size: 16px;
    background: #007ccf;
    box-shadow: 1px 2px 5px 0px #31313159;
  }
}
}

.cdb_header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #478db636;
  padding: 15px;
  padding-right: 5PX;

  h3 {
    width: 100%;
    text-align: center;
    margin: 0px;
    color: #0077ff;
  }
}
#btnClose {
  width: 30PX;
  height: 30PX;
  outline: none;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: #ffffff42;
  cursor:pointer;
  i {
    font-size: 22px;
    color: #5daffc;
  }
  &:hover {
    background-color: #ffffff80;
    i {
      font-size: 22px;
      color: #ff2c2c;
    }
  }
}
.signinpage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  padding-top: 30px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  overflow: hidden;
  background-color: #0e202c; 
  z-index: 102;
}

@media screen and (max-width: 720px) {
  .homepage {max-width: 100%;}
  .leftmenu, .navbuttons {display: none;}
  .nav_menus {.login_menu {display: none;}
  .mini_menu {display: flex;}}
}
@media screen and (max-width: 500px) {
  .dashtop {flex-direction: column;}
}



.clientform {
  width: 100%;
  min-width: 320px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start; 
  align-items: start; position: relative;
  overflow-y: auto;
  border-radius: 3px;
  padding-bottom: 10px;
  background-color: #faf8f8a4;
}
.formtittle {
  width: 100%;
  height: 36px;
  text-align: end;
  position: relative;
  background-color: #0099ff;
  padding-right: 27px;
  h4 {color: #ffffff;  text-align: start; padding-top: 10px; padding-left: 10px;} 
}
.formtittle button { 
  width: 26px; height: 26px; border-radius: 50%; font-size: 16px; top: 5px;
  border: none; position: absolute; padding: 0%; color: #9c9c9c; background-color: #ffffffe3;
  &:hover { color: #ff0303; background-color: #ffedede3; transform: scale(105%);}
}
/*
.form_steps {
  width: 100%;
  margin: 0 auto;
  display: flex;
  gap: 2px;
  flex-direction: row;
  max-width: 380px;
}
.step {
  width: 25%;
  height: 10px;
  margin: 0px;
  cursor: pointer;
  border: none;  
  border-radius: 0px;
  display: inline;
  opacity: 0.7; 
  background-color: #9e9e9e65;
}
.step.active { opacity: 1;background-color: #0097fc;}
.step.finish  {
  background-color: #0086df;
}  
form {
  width: 100%;
  margin:  auto;
  min-height: 80%;
  min-height: 400px;
  padding: 20px;
  padding-top: 0px;
  font-family: Raleway;
  display: grid; 
  background-color: #ffffff00;
}
.tabcolumns {
  width: 100%;
  height: 100%;
  display:flex;
}
.tab {
  color: #0b2944;
  min-width: 320px;
  max-width: 380px;
  margin: 0 auto;
  padding: 20px;
}
.tab {
  display: none;
}
.names {
  width: 100%;
  display:inline-flex;
  column-gap: 15px;
}

.inpt {
  position: relative;
  display: flex; flex-direction: column; justify-content: center; align-items: start;
  margin: auto; width: 100%; 
  margin-top: 15px; border-radius: 3px;
  overflow: hidden;
  background-color: #ffffff4b; 
}
.inpt input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  border: none;
  outline: none;
  font-family: inherit;
  padding: 16px 12px 0 12px;
  height: 45px;
  font-size: 15px;
  font-weight: 400;
  background: #ffffff5b;
  border-bottom: 1px solid #c0c0c0;
  color: #000;
  transition: all 0.2s ease;
}
.in_group {
  width: 100%;
  position: relative;
}
.placeholder {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
  transform-origin: 0 0;
  transform: translate3d(0, 0, 0);
  transition: all 0.2s ease;
  pointer-events: none;
}
.btmline {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  z-index: 3;
  background-color: #0067dd;
  transform-origin: left;
  border-bottom: 1px solid #f73378;
  transform: scaleX(0);
  transition: all 0.3s ease;
} 
.inpt input.invalid:not(:focus) {
~ .placeholder { color: #ff2e2e;}
  ~ .btmline {border-bottom: 1px solid #ff2e2e; transform: scaleX(1);}
}
.inpt input:hover {border-bottom: 1px solid #0787ff;}
.inpt input:hover + .placeholder {color: #0067dd;} ph_name

.inpt input:focus {background: #ffffffb4; border-bottom: 0px;}
.inpt input:focus + .placeholder { color: #f73378;transform: translate3d(0, -8px, 0) scale(0.80);}
.inpt input:focus + .placeholder + .btmline {transform: scaleX(1);}

.inpt input:not(:-moz-placeholder-shown) + .placeholder { transform: translate3d(0, -8px, 0) scale(0.80);}
.inpt input:not(:placeholder-shown) + .placeholder { transform: translate3d(0, -8px, 0) scale(0.80);}

.inpt input.null:not(:-moz-placeholder-shown) + .placeholder { transform: translate3d(0, -8px, 0) scale(0.80);}

.businesspics {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
}
.clientform .Imagecontainer {
  width: 150px;
  height: 160px;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  border: 1px solid #dddddd2a;
  background-color: #fffffffa;;
  border-radius: 10%;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.11);
}
#uploaderText {
  position:absolute;
  width: 25%;
  height: 25%;
  padding: 5px;
  color: #ffffff9a;
  text-align: center;
  cursor: pointer;
}
.Imagecontainer img{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10%;
}
.clientform .Imagecontainer:hover {
  background-color: #ffffffaf;
  border: 2px solid #0399fdb9;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.clientform .Imagecontainer:hover > #uploaderText {
  color: #0898f8e1;
}
.businesspics .Imagecontainer {
  width: 120px;
  height: 130px;
  border-radius: 10%;
}
.businesspics .Imagecontainer {
  width: 100%;
  height: 100%;
  border-radius: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all .2s ease-in-out;
}
.Imagecontainer .uploadInput {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 10%;
}
.uploadInput input {
    width: 98%;
    height: 98%;
    border-radius: 10%;
    background-color: #e0eff8;
    opacity: 0;
    cursor: pointer;
}
.Imagecontainer:has(input.invalid) {
  background-color: #ffffffaf;
  border: 1px solid #ff5555;
  &:hover {
    border: 2px solid #ff5555;
  }
}
.submitbutton {
  width: 100%;
  min-width: 240px;
  max-width: 340px;
  min-height: 50px;
  height: 10%;
  column-gap: 5px;
  padding: 5px 2px;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: end;
  margin: auto;
}
.submitbutton button {
  background-color: #14a1ff;
  color: #ffffff;
  border: none;
  padding: 10px 30px;
  font-size: 17px;
  font-family: Raleway;
  font-weight: 600;
  cursor: pointer;
}
.submitbutton button:hover {
  opacity: 0.8;
}
.submitbutton #prevBtn {
  background-color: #bbbbbb;
}
.instalments {
  margin: 0px;
  padding: 0px;
  margin-left: 20%;
  border: none;
  background-color: transparent;
  &:hover { border: none;}
}
.instalments { display: none;}

#daysNumber {
  opacity: 1; max-width: 20%; max-height: 20px; margin: 0 5%;
  padding: 0px;
}

.clientform form {
  display: none;
}
.clientform form.active{
  display: block;
}
*/
