* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  font-size: 13px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
/*
  Smooth scroll
*/
:root {
  scroll-behavior: smooth;
}

body {
  display: grid;
  height: 100vh;
  overflow: hhidden;
  background-color: #ffffff;
  grid-template-columns: 1fr;
}
#Main {
  width: 100%;
  height: 100%;
  display: grid;
  margin: 0 auto;
  max-width: 1420px;
  position: relative;
  padding: 3px 5px 5px 5px;
}

@-moz-keyframes growdown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}
@-webkit-keyframes growdown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}
@-o-keyframes growdown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes growdown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}

.modal {
  width: 100%;
  height: 100%;
  z-index: 999;
  display: grid;
  min-width: 300px;
  position: absolute;
  grid-template-rows: 1fr;
  padding: 3px 5px 5px 5px;
}
.md {
  width: 100%;
  display: grid;
  position: relative;
  align-content: center;
  background-color: #ffffff;
}
.successfull {
  width: 100%;
  height: 100%;
  display: grid;
  z-index: 99999;
  padding: 0px 10px 0px 10%;
  position: absolute;
  align-content: center;
  justify-content: center;
  background-color: #f1f1f1;
  display: none;

}
.successfull img {
  top: 10%;
  left: 40%;
  width: 20%;
  position: absolute;
}
.successfull p {
  font-size: 16px;
  padding: 10px;
}
.successfull p:first-of-type {
  font-size: 20px;
  font-weight: 500;
}
.modal.saved .successfull {
  display: grid;
}
.forms {
  width: 100%;
  display: grid;
  margin: 0 auto;
  max-width: 500px;
  min-width: 260px;
  border-radius: 5px;
  background-size: cover;
  background-repeat: no-repeat;
  grid-template-columns: minmax(320px, 1fr);
  background-color: hwb(207 34% 8%);
  background-image: url(https://judadeveloper.github.io/registration/banner-2.png);
  grid-template-rows: 30px minmax(400px, 1fr) 70px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: none;
}
.forms:has(form.shown) {
  display: grid;
}
form.shown {
  display: grid;
}

.heada {
  width: 100%;
  height: 30px;
  display: grid;
  align-items: end;
  position: relative;
  padding: 0px 5px 0px 5px;
  grid-template-columns: 1fr;
  border-radius: 8px 8px 0px 0px;
}
.heada p {
  font-size: 20px;
  color: #ffffff;
  text-align: start;
  font-weight: 500;
  padding: 0px 5px;
}
.heada .btnclose {
  top: 2px;
  right: 2px;
  width: 25px;
  height: 25px;
  fill: #ffffff;
  position: absolute;
  border-radius: 100%;
  background-color: #ffffff00;
  scale: 110%;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px -1px rgba(0, 0, 0, 0.1);
    display: none;
}
.btnclose:hover {
  fill: #ff0000;
  background-color: #ffffff;
}

form {
  display: grid;
  padding: 0px 15px;
  padding-bottom: 20px;
  background-color: #00000000;
  display: none;
}

table {
  width: 100%;
  min-height: 380px;
  margin: 0px auto;
  min-width: 280px;
  max-width: 300px;
  border-collapse: collapse;
}
td {
  display: none;
  align-content: start;
}
td .tabname {
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  padding-bottom: 10px;
}

td.shown {
  display: grid;
}


.lbl {
  width: 100%;
  height: 50px;
  display: grid;
  margin: 0px auto;
  position: relative;
  border-radius: 4px;
  margin-bottom: 12px;
  background-color: #ffffff;
  grid-template-columns: 50px 1fr;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
.lbl:hover {
  .con {
    svg {
      transform: scale(1.3);
      fill: #008cff;
    }
  }
  .pod {
    color: #008cff;
  }
}

.con {
  height: 100%;
  display: flex;
  background-color: #f8f8f8;
  border-radius: 6px 0px 0px 6px;
}
.con svg {
  width: 18x;
  height: 18px;
  margin: auto;
  fill: #999999;
  transform: scaleX(1);
  transition: all 0.3s ease;
}

.pod {
  top: 13px;
  left: 65px;
  font-size: 14px;
  color: #7a7a7a;
  position: absolute;
  transform-origin: 0 0;
  transform: translate3d(0, 0, 0);
  transition: all 0.2s ease;
  pointer-events: none;
}

.nput {
  height: 100%;
  padding: 20px 5px 5px 20px;
  background-color: #ffffff00;
  border-radius: 4px;
}
.nput#imageurl {
  height: 0px;
  opacity: 0;
  padding: 0;
}

.lbl.txt.b {
  height: fit-content;
  .nput {
    height: 80px;
  }
}
.lbl.cbox, .lbl.dob {
  grid-template-columns: 50px 1fr;
}
.lbl.cbox input[type="button"], 
.lbl.dob input[type="button"] {
  height: 25px;
  cursor: pointer;
  margin-top: 15px;
  border-radius: 2px;
  background-color: #f3f3f39f;
}
.lbl.cbox:hover, .lbl.dob:hover {
  color: #008cff;
  font-weight: bold;
}

.lbl.cbox span, .lbl.dob span {
  top: 0px;
  left: 65px;
  font-size: 12px;
  color: #999999;
  position: absolute;
  pointer-events: none;
}
.lbl.cbox input[type="text"], .lbl.dob input[type="text"] {
  padding: 0;
  font-size: 0px;
  pointer-events: none;
  background-color: #ffffff00;
}
.box {
  top: 0px;
  left: 50px;
  display: grid;
  height: 100%;
  column-gap: 5%;
  padding-left: 15px;
  position: absolute;
  width: calc(100% - 52px);
}
.box label {
  display: grid;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
  padding-bottom: 5px;
  align-items: center;
  padding: 5px 0px 0px 0px;
  grid-template-columns: 25px 1fr;
}
.box label input[type="checkbox"] {
  width: 15px;
  height: 15px;
  cursor: pointer;
}
.box label:hover {
  color: #008cff;
  font-weight: bold;
}

.lbl.docs {
  display: grid;
  height: 100px;
  padding: 0px 0px;
  grid-template-columns: 1fr;
  background-color: #ffffff42;
  box-shadow: none;
}
.docs div {
  display: grid;
  row-gap: 5%;
  grid-template-rows: 1fr 1fr 1fr;

}
.docs div label {
  display: grid;
  cursor: pointer;
  border-radius: 3px;
  text-align: center;
  grid-template-rows: 1fr 18px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.docs div label span {
  font-size: 12px;
  font-weight: 400;
  background-color: #cfcece3d;
}
.docs div label input[type="file"] {
  width: 0px;
  height: 0px;
  padding: 0;
  border: none;
}

.lbl .dropdwn {
  top: 42px;
  left: 60px;
  z-index: 999;
  display: none;
  min-height: 50px;
  max-width: 230px;
  overflow-y: auto;
  max-height: 150px;
  position: absolute;
  list-style-type: none;
  width: calc(100% - 65px);
  background-color: #fdfdfd;
  border: 1px solid #b8b8b842;

  transform-origin: top center;
  animation: growdown 200ms ease-in-out forwards;
  box-shadow: 0 26px 58px 0 #00000038, 0 5px 14px 0 #0000002e;
}

.lbl .dropdwn li {
  width: 100%;
  height: 40px;
  cursor: pointer;
  font-size: 15px;
  color: #1a1a1a;
  border-radius: 4px;
  background-color: #ffffff;
}
.lbl .dropdwn li p {
  height: 40px;
  display: grid;
  text-align: center;
  align-items: center;
  padding: 5px 10px;
  border-bottom: 1px solid #eeeeee;
}

.lbl .dropdwn li:hover {
  color: #ffffff;
  font-weight: bold;
  background-color: #008cff;
}

.lbl:has(.nput.invalid) .con svg {
  fill: #f86464;
}
.lbl:has(.nput.invalid) .pod {
  color: #f86464;
}
.lbl:has(.nput.invalid) .nput {
  border: 1px solid #ff686885;
}
.cbox:has(.nput.invalid) span, .dob:has(.nput.invalid) span {
  color: #f86464;
}

.lbl:focus-within .con {
  background-color: #0099ff;
}
.lbl:focus-within .con svg {
  fill: #ffffff;
}
.lbl:focus-within .pod {
  color: #006cc4;
  transform: translate3d(0, -8px, 0) scale(0.78);
}
.lbl:focus-within .nput:focus {
  background-color: #ffffff;
  border: 1px solid #008cffa6;
}
.lbl:focus-within .nput:focus.invalid {
  border: 1px solid #ffacaca6;
}
form:has(.nput#imageurl.invalid) label.imge {
  border: 1px solid #ff686869;
}
form:has(.nput#imageurl.invalid) label.imge img {
  background-color: #ff9f9f;
}

.lbl:not(:focus-within):has(.nput:not(:placeholder-shown)) .con {
  background-color: #01a2ff17;
}
.lbl:not(:focus-within):has(.nput:not(:placeholder-shown)) .con svg {
  fill: #0099ff;
}
.lbl:not(:focus-within):has(.nput:not(:placeholder-shown)) .pod {
  color: #757575;
  transform: translate3d(0, -8px, 0) scale(0.78);
}
.lbl:not(:focus-within):has(.nput:not(:placeholder-shown)) .nput {
  font-size: 14px;
  color: #000000;
  font-weight: bold;
  border: 1px solid #008cff44;
}
.cbox:has(.nput:not(.nput:placeholder-shown)):not(.lbl:focus-within) .nput {
  font-size: 0px;
  color: #ffffff00;
}
.dob:has(.nput:not(.nput:placeholder-shown)):not(.lbl:focus-within) .nput {
  font-size: 0px;
  color: #ffffff00;
}

label.imge {
  width: 100%;
  display: grid;
  cursor: pointer;
  min-width: 140px;
  max-width: 180px;
  min-height: 150px;
  margin: 10px auto;
  position: relative;
  width: max-content;
  height: max-content;
  border-radius: 11px;
  background-color: #ffffff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
}
label.imge:hover {
  background-color: #fcfcfcd0;
  border: 1px solid #008cff8e;
}
label.imge:hover img#imgpreview {
  scale: 110%;
}

label.imge p {
  top: -45px;
  left: -50%;
  right: -50%;
  font-size: 25px;
  min-width: 100%;
  font-weight: 600;
  padding: 0px 10px;
  position: absolute;
  text-align: center;
  color: #616161;
}

label.imge img {
  margin: auto;
  width: 165px;
  min-width: 140px;
  min-height: 150px;
  max-height: 180px;
  border-radius: 10px;
}
label.imge img[src=""] {
  width: 70px;
  height: 70px;
  min-width: 50px;
  min-height: 50px;
  border-radius: 100%;
  background-color: #24a8ff;
  content: url("https://judadeveloper.github.io/registration/user2.svg");
}
label.imge input {
  width: 0;
  height: 0;
  position: absolute;
}
.lbl.cbox .box {
  grid-template-columns: minmax(25px, 35%) 1fr;
}
.lbl.cbox .box label:has(input[type="checkbox"]:checked) {
  font-size: 14px;
  color: #000000;
  font-weight: bold;
}
.lbl.cbox:has(#w_status) .box {
  grid-template-columns: minmax(25px, 40%) 1fr;
}

.lbl.dob .box {
  grid-template-columns: minmax(25px, 25%) minmax(25px, 25%) minmax(25px, 25%);
}

.lbl.dob .box .ndob:nth-child(1):not(.ndob:nth-child(1)[value="DD"]),
.lbl.dob .box .ndob:nth-child(2):not(.ndob:nth-child(2)[value="MM"]),
.lbl.dob .box .ndob:nth-child(3):not(.ndob:nth-child(3)[value="YY"]) {
  font-size: 14px;
  color: #000000;
  font-weight: bold;
}

.submit {
  display: grid;
  column-gap: 10%;
  min-width: 300px;
  padding: 13px 20px;
  justify-content: center;
  background-color: #fdfdfdd3;
  border-radius: 0px 0px 3px 3px;
  grid-template-columns: minmax(80px, 25%) minmax(140px, 25%);
}
.submit button.btn {
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  border-radius: 4px;
}
.submit .btn:first-child {
  width: 80px;
  opacity: 0;
  color: #222222;
  pointer-events: none;
  background-color: #fafafa;
}
.submit .btn:first-child:hover {
  color: #ff0000;
  scale: 110%;
  background-color: #ff959573;
}
.submit .btn:first-child.shown {
  opacity: 1;
  pointer-events: visible;
}
.submit .btn:last-child {
  max-width: 140px;
  color: #ffffff;
  background-color: #37a2ff;
}
.submit .btn:last-child:hover {
  scale: 110%;
  font-weight: 500;
  background-color: #008cff;
}
